@model IEnumerable<Assignment1_Web_Design.Models.CompaniesOrganisations>

@{
}


<div class="row">
    <div class="Organisationsfirstimage">
        <div class="text1">
            <h1 style="text-align:center">Organisations</h1>
            What We Can Do
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6 col-sm-6" style="padding-right: 20px; padding-left: 50px; padding-top: 20px; min-height: 100%;">
        <img class="img-responsive" src="~/images/IBM.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="IBM" style="margin-top: -400px;">
            <div class="text1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="content__header">
                        <h2 class="content__title ">
                            AI in action
                        </h2>

                    </div>

                    <div class="content__body">
                        <p>From our products to our open-source platforms, we’re working to ensure that the benefits of AI are accessible to everyone.</p>
                    </div>
                    <div class="content__ctas">

                        <a class="button" href="https://www.ibm.com/it-infrastructure/solutions/ai?S_PKG=-&cm_mmc=Search_Google-_-IBM+Systems_WW_Always+On+Digital_IT+Infrastructure-_-WW_EP-_-ai_Exact_-&cm_mmca1=000019DR&cm_mmca2=10005033&cm_mmca7=9071965&cm_mmca8=aud-309367918490:kwd-13496486&cm_mmca9=edd94a99-f7ae-4f90-8128-eeacc715a26c&cm_mmca10=275540061316&cm_mmca11=e&mkwid=edd94a99-f7ae-4f90-8128-eeacc715a26c|503|292255&cvosrc=ppc.google.ai&cvo_campaign=000019DR&cvo_crid=275540061316&Matchtype=e&gclid=Cj0KCQjwlqLdBRCKARIsAPxTGaUBT20o67T8VavSvsdvq0Wt69JVWD3YZu-1T2RuGVP02DOMVo7HIN8aAp4AEALw_wcB">
                            Our Ofical Website
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="col-md-6 col-sm-6" style="padding-left:50px; padding-right: 20px; padding-top: 20px; min-height: 100%;">
        <img class="img-responsive" src="~/images/DIIS.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="DIIS" style="margin-top: -400px;">
            <div class="text1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="content__header">
                        <h2 class="content__title ">
                            Department of Industry Innovation and Science
                        </h2>

                    </div>

                    <div class="content__body">
                        <p>The Department of Industry, Innovation and Science is a department of the Australian Government responsible for consolidating the Government’s efforts to drive economic growth, productivity and competitiveness by bringing together industry, energy, resources and science.</p>
                    </div>
                    <div class="content__ctas">

                        <a class="button" href="https://www.industry.gov.au/">
                            Our Ofical Website
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12" style="padding-right: 20px; padding-left: 50px; padding-top: 20px; min-height: 100%;">
        <img class="img-responsive" src="~/images/microsoft.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="microsoft" style="margin-top: -400px;">
            <div class="text1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="content__header">
                        <h2 class="content__title ">
                            MICROSOFT
                        </h2>

                    </div>

                    <div class="content__body">
                        <p>Microsoft Corporation is an American multinational technology company with headquarters in Redmond, Washington. It develops, manufactures, licenses, supports and sells computer software, consumer electronics, personal computers, and related services.</p>
                    </div>
                    <div class="content__ctas">

                        <a class="button" href="https://www.microsoft.com/en-au/store/b/home?source=lp&invsrc=search&cl_vend=google&cl_ch=sem&cl_camp=923056299&cl_adg=51717709412&cl_crtv=219456021291&cl_kw=microsoft&cl_pub=google.com&cl_place=&cl_dvt=c&cl_pos=1t1&cl_mt=e&cl_gtid=aud-294951233030:kwd-11656221&cl_pltr=&cl_dim0=W6kksAAABJkyeP7c:20180924175352:s&OCID=AID695932_SEM_W6kksAAABJkyeP7c:20180924175352:s&s_kwcid=AL!4249!3!219456021291!e!!g!!microsoft&ef_id=W6kksAAABJkyeP7c:20180924175352:s">
                            Our Ofical Website
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-6 col-sm-6" style="padding-right: 20px; padding-left: 50px; padding-top: 20px; min-height: 100%;">
        <img class="img-responsive" src="~/images/CSIRO.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="CRIRO" style="margin-top: -400px;">
            <div class="text1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="content__header">
                        <h2 class="content__title ">
                            CSIRO
                        </h2>

                    </div>

                    <div class="content__body">
                        <p>The Commonwealth Scientific and Industrial Research Organisation is an independent Australian federal government agency responsible for scientific research. Its chief role is to improve the economic and social performance of industry for the benefit of the community. </p>
                    </div>
                    <div class="content__ctas">

                        <a class="button" href="https://www.totalwellbeingdiet.com/au/?gclid=Cj0KCQjwlqLdBRCKARIsAPxTGaXJnnHC0ts3cVrKzb_ZFBRbsIaCCqUWRhjDeu3VIIETlWvDx2jQFhIaAq3uEALw_wcB">
                            Our Ofical Website
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6" style="padding-left:50px; padding-right: 20px; padding-top: 20px; min-height: 100%;">
        <img class="img-responsive" src="~/images/Amazon.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="Amazon" style="margin-top: -400px;">
            <div class="text1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="content__header">
                        <h2 class="content__title ">
                            AMAZON
                        </h2>

                    </div>

                    <div class="content__body">
                        <p>Amazon.com, Inc., doing business as Amazon, is an American electronic commerce and cloud computing company based in Seattle, Washington, that was founded by Jeff Bezos on July 5, 1994.</p>
                    </div>
                    <div class="content__ctas">

                        <a class="button" href="https://www.amazon.com.au/?tag=hydramzkw0au-22&hvadid=276634747888&hvpos=1t1&hvnetw=g&hvrand=6129313687303558331&hvpone=&hvptwo=&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9071965&hvtargid=kwd-13273016&ref=pd_sl_6wcb7ezr9q_e">
                            Our Ofical Website
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12" style="padding-right: 20px; padding-left: 50px; padding-top: 20px; padding-bottom: 20px; min-height: 100%;">
        <img class="img-responsive" src="~/images/Google.png" style="height: 400px;
                                                            max-width: 100%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            margin-left: 0px;
                                                            padding: 0px;
                                                            min-height: 100%;">
        <div class="Google" style="margin-top: -400px;">
            <div class="text1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="content__header">
                        <h2 class="content__title ">
                            GOOGLE
                        </h2>

                    </div>

                    <div class="content__body">
                        <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware.</p>
                    </div>
                    <div class="content__ctas">

                        <a class="button" href="https://www.google.com.au/about/products/">
                            Our Ofical Website
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row" style="background-color: lightgray">
    <div class="title" style="margin-left:40px;">
        @if (User.Identity.IsAuthenticated)
        {
            <br />
            <a asp-controller="CompaniesOrganisations" asp-action="Create" class="btn btn-success">Submit your feedback</a>
        }
        else
        {
            <br />
            <p>
                Please <a href="~/Account/Login?returnUrl=~/Home/Organisations">login</a> or <a href="~/Account/Register?returnUrl=~/Home/Organisations">
                    create
                    an account
                </a> to post your feedback on this page
            </p>
        }
        @foreach (var item in Model)
        {
            <h2>
                 @Html.DisplayFor(modelItem => item.Heading)
            </h2>
            <h3>
                @@ @Html.DisplayFor(modelItem => item.CompaniesOrganisationName)
            </h3>

            <div style="font-size: 24px;">
                @Html.HiddenFor(modelItem => item.StarRating)
                @{for (int i = 0; i < item.StarRating; i++)
                    {<span style="color:yellow;">&#x2605;</span> }
                    for (int i = 0; i < 5 - item.StarRating; i++)
                    {<span>&#x2606;</span> }}
            </div>

            <p>
                @Html.DisplayFor(modelItem => item.FeedBack)
            </p>
            <div>
                <p>
                    Feedback by <b> @Html.DisplayFor(modelItem => item.Username)</b>
                    on <b>@Html.DisplayFor(modelItem => item.Date)</b>
                </p>
            </div>

            <div>
                <a asp-controller="CompaniesOrganisations" asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Details</a>
                <a asp-controller="CompaniesOrganisations" asp-action="CountAgree" asp-route-id="@item.Id" class="btn btn-success">Agree (@item.Agree)</a>
                <a asp-controller="CompaniesOrganisations" asp-action="CountDisagree" asp-route-id="@item.Id" class="btn btn-danger">Disagree (@item.Disagree)</a>
                <span class="pull-right">
                    @{
                        if (User.IsInRole("Manager"))
                        {
                            <a asp-controller="CompaniesOrganisations" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Edit</a>
                        }
                    }
                    @{
                        if (User.IsInRole("Manager"))
                        {
                            <a asp-controller="CompaniesOrganisations" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Delete</a>
                        }
                    }
                </span>
                <hr />
            </div>
        }
    </div>
</div>